
snippet sd
  SCRIPT_DIR="\$(dirname "\$(readlink -f "\${BASH_SOURCE[0]}")")"

snippet bash
  #!/bin/bash

snippet script
  #!/bin/bash

  SCRIPT_DIR="\$(dirname "\$(readlink -f "\${BASH_SOURCE[0]}")")"

